<h1>Log In</h1>
<%= @error %>

<form action="/login" method="post" > 

  <p>
    <div><label for="email">Email</label></div>
    <input type="text" name="email" id="email" />
  </p>
  <p> 
    <div><label for="password">Password</label></div> 
    <input type="password" name="password" id="password" />
  </p>
  <input type="submit" value="Login"/>
  <div style="background-image: url('https://images.pexels.com/photos/1331734/pexels-photo-1331734.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
</form>
