<h1>Log In</h1>
<%= @error %>
<form action="login" method="post" >
  <p>
    <div><label for="email">Email</label></div>
    <input type="text" name="email" id="email" />
  </p>
  <p> 
    <div><label for="password">Password</label></div> 
    <input type="text" name="password" id="password" />
  </p>
  <input type="submit" value="Login"/>
</form>