<%= @error %>
<h1>Skin Care Starts Here!</h1>
<form action = "/users/new" method = "post">
    <p>Name:<input id = "name" name = "name" type = "text"></p>
    <p>Email Address:<input id = "email" name = "email"  placeholder = "mail@mail.com" type = "text"></p>
    <p>Password:<input id = "password" name = "password" type = "text"></p>
    <input id = "submit" type = "submit" value = "create">
</form>
