<h1>Welcome!</h1>
<h2><%= @user.name%></h2>
<p>To get started creating your skin care regiment there are a 
few things to consider...
<br>
If you have small pores, you may be a bit more dry/normal skin type
Choose a product for "any skin type" or "dry skin" would be recommended.
Key words include: 
<br>
Lactic
<br>
Oil 
<br>                
Creamy
<br>                   
Hydrating
</p>
<br>
<p>If you have large pores, you may be more of a combination/oily skin type.
Choose a product for "any skin type" or looking for products that contain key 
words like : 
<br>
Salicylic
<br>             
Glycolic
<br>
Oil Control
<br>
Mattefying
<br>             
Clay
</p>
<br>
<p>
If you are any skin type looking for brightening products or trying to treat Hyperpigmentation.
Choose products that contain the key word : 
<br>
Brightening/Lightening
<br>
Mandelic
<br>
Lactic Acid
</p>