<h1>Welcome To My Esty-2-G0!</h1>
<h2><%= @user.name%></h2>
<p>Creating Skin Care Regiments can be a hassle especially when you're on the go.  
My Esty allows you to create a customized skin care regiment and personalize the package.  
Save it and return to it at any time to see your Skin Care Package recommendations.  
To get started creating your skin care regiment click on "Choose My Product" at the top.  Also, there are a 
few things to consider when selecting your products...
<br>
If you have small pores, you may be a bit more on the drier side.  
Making you more of a dry/normal skin type.
Choose any products that are for "any skin type" or "dry skin". 
Key words include: 
<br>
Lactic, Oil, Creamy,Hydrating
</p>
<br>
<p>If you have larger pores, you may be more of a combination/oily skin type.
Choose any products that are for "any skin type" or "Acneic/Oily skin type".
Key words include : 
<br>
Salicylic, Glycolic, Oil Control, Mattefying, Clay
</p>
<br>
<p>
Any skin type looking for brightening products or trying to treat Hyperpigmentation.
Choose products that contain the key word : 
<br>
Brightening/Lightening, Mandelic, Lactic Acid
<br>
-XoXo-
</p>
