<h1>Create Your Product Order</h1>
<form class="" action="products" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
    <label for="name">Size</label>
    <input type="text" name="size" id="size" />
    <label for="name">description</label>
    <input type="text" name="description" id="description" />
    <input type="submit" name="submit" value="Create Product" />

</form>

