<h1>Products</h1>
<form class="" action="products" method="post">

<p>Choose a Cleanser: <select name="cleanser" id="cleanser"> </p>
    <option value="Oil">Oil</option>
    <option value="Creamy">Creamy</option>
    <option value="Brightening">Brightening</option>
    <option value="Exfoliating Cleanser">Exfoliating Cleanser</option>
    <option value="Mandelic Cleanser">Mandelic Cleanser</option>
    </select>
    <br>
 <p>Choose a Toner: <select name="toner" id="toner"> </p>
    <option value="Hydrating">Hydrating Toner</option>
    <option value="Mandelic">Mandelic</option>
    <option value="Glycolic Pads">Glycolic Pads</option>
    </select>
    <br>
<p>Choose a Serums: <select name="serums" id="serums"> </p>
    <option value="Plumping Collagen">Plumping Collagen</option>
    <option value="Lifting/Skin Tightening">Lifting/Skin Tighetening</option>
    <option value="Brightening">Brightening</option>
    <option value="Hydrating">Hydrating</option>
    <option value="Oil Control">Oil Control</option>
    </select>
    <br>
    <p>Choose a Moisturizer: <select name="moisturizer" id="moisturizer"> </p>
    <option value="BB Cream Light w/Spf 15">BB Cream Light w/Spf 15</option>
    <option value="BB Cream Medium w/Spf 15">BB Cream Medium w/Spf 15</option>
    <option value="BB Cream Dark w/Spf 15">BB Cream Dark w/Spf 15</option>
    <option value="Hydrating">Hydrating</option>
    <option value="Brightening">Brightening</option>
    <option value="Mattefying">Mattefying</option>
    <option value="Spf 30">Spf 30</option>
    </select>
    <br>
    <p>Choose a Exfoliator: <select name="exfoliator" id="exfoliator"> </p>
    <option value="Pumpkin Enzyme">Pumpkin Enzyme</option>
    <option value="Gentle Scrub">Gentle Scrub</option>
    <option value="Volcanic Ash Scrub">Volcanic Ash Scrub</option>
    <option value="Exfoliating Cleanser">Exfoliating Cleanser</option>
    </select>
    <br>
    <p>Choose a Mask: <select name="mask" id="mask"> </p>
    <option value="HydroJelly">HydroJelly</option>
    <option value="Plumping Collagen">Plumping Collagen</option>
    <option value="Brightening">Brightening</option>
    <option value="Refreshing Eye">Refreshing Eye</option>
    <option value="Collagen Eye">Collagen Eye</option>
    <option value="Clay">Clay</option>
    </select>
    <br>
    <input type="submit" name="submit" value="My Products" />
    <br>
</form>

